# **Imports**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import mutual_info_classif
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
import lightgbm as lgb
import xgboost

from imblearn.ensemble import EasyEnsembleClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC
from sklearn.ensemble import StackingClassifier

from sklearn.metrics import classification_report, roc_auc_score, roc_curve, precision_recall_curve, auc

# **Functions**

In [2]:
def read_file(file_path):
    data = pd.read_csv(file_path, index_col=0)

    return data

In [3]:
def label_encoding(data, column, mapping):
    
    data[column] = data[column].map(mapping)

    return data[column]

# **Loading Data**

In [4]:
file_path = r"C:\Users\Space\Documents\py\Projects\TuringCollege\Stroke\Stroke_New\Data\stroke.csv"
data = read_file(file_path)
data = data.drop(columns=['ID'])

In [9]:
data.head()

,Gender,Age,Hypertension,Heart Disease,Ever Married,Work,Residence,AVG Glucose,BMI,Smoking,Stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

# **Encoding**

In [5]:
target_column = 'Stroke'
random_seed = 42

In [6]:
X = data.drop(columns=[target_column])  
y = data[target_column]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random_seed)

In [10]:
import pandas as pd
from feature_engine.encoding import OrdinalEncoder
od = OrdinalEncoder(encoding_method='arbitrary')
od.fit(X_train)
od.transform(X_train)
od.transform(X_test)

,Gender,Age,Hypertension,Heart Disease,Ever Married,Work,Residence,AVG Glucose,BMI,Smoking
4688,0,31.0,0,0,0,2,0,64.85,23.0,0
4478,0,40.0,0,0,1,2,0,65.29,28.3,2
3521,0,52.0,0,0,1,1,0,111.04,30.0,2
4355,1,79.0,1,0,1,2,0,76.64,19.5,2
3826,1,75.0,0,0,1,3,0,94.77,27.2,2
...,...,...,...,...,...,...,...,...,...,...
818,0,20.0,0,0,0,3,0,106.97,27.9,3
4829,0,66.0,0,0,1,1,0,67.92,31.1,3
611,0,42.0,0,0,1,3,1,93.79,27.2,2
3082,1,57.0,0,0,1,1,0,69.40,24.0,0
3407,1,60.0,0,0,1,3,1,73.04,25.3,2